.btn-icon{
  border-radius: 40px !important;
}



body {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  overflow-x: hidden;
  overflow-y: scroll;
}


#spiner{
  width: 100vw;
  height: 100vh;
}


/*Animaciones*/
.fade-enter-active {
  transition: all .5s ease;
}
.fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-enter, .fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}









#sideNav .navbar-collapse .navbar-nav .nav-item {
  display: block;
}
#sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
  display: block;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  transition: all .3s ease;
}

.navbar-toggler-icon:hover{
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 150, 217, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-dark .navbar-nav .nav-link {/*mismo selector de bootstrap*/
  color: var(--main-color);
  font-size:1.15rem;
  font-weight: bold;
  transition: all .5s ease;
  -webkit-transition: all .5s ease  ;
  -moz-transition: all .5s ease  ;
  -ms-transition: all .5s ease  ;
  -o-transition: all .5s ease  ;
}

.nav-item:hover{
  background-color:var(--main-modal-color);
}

.btn,
.navbar .navbar-nav > a.btn {
  border-width: 2px;
  font-weight: 400;
  font-size: 0.8571em;
  line-height: 1.35em;
  margin: 5px 1px;
  border: none;
  border-radius: 0.1875rem;
  padding: 11px 22px;
  cursor: pointer;
  background-color: #888;
  color: #FFFFFF; }

  .btn.btn-simple,
  .navbar .navbar-nav > a.btn.btn-simple {
    color: #888;
    border-color: #888; }
    .btn.btn-simple:hover, .btn.btn-simple:focus, .btn.btn-simple:active,
    .navbar .navbar-nav > a.btn.btn-simple:hover,
    .navbar .navbar-nav > a.btn.btn-simple:focus,
    .navbar .navbar-nav > a.btn.btn-simple:active {
      background-color: transparent;
      color: #979797;
      border-color: #979797;
      box-shadow: none; }
  .btn.btn-link,
  .navbar .navbar-nav > a.btn.btn-link {
    color: #888; }
    .btn.btn-link:hover, .btn.btn-link:focus, .btn.btn-link:active,
    .navbar .navbar-nav > a.btn.btn-link:hover,
    .navbar .navbar-nav > a.btn.btn-link:focus,
    .navbar .navbar-nav > a.btn.btn-link:active {
      background-color: transparent;
      color: #979797;
      text-decoration: none;
      box-shadow: none; }
  .btn:hover, .btn:focus,
  .navbar .navbar-nav > a.btn:hover,
  .navbar .navbar-nav > a.btn:focus {
    opacity: 1;
    filter: alpha(opacity=100);
    outline: 0 !important; }
  .btn:active, .btn.active,
  .open > .btn.dropdown-toggle,
  .navbar .navbar-nav > a.btn:active,
  .navbar .navbar-nav > a.btn.active,
  .open >
  .navbar .navbar-nav > a.btn.dropdown-toggle {
    box-shadow: none;
    outline: 0 !important; }
  .btn.btn-icon,
  .navbar .navbar-nav > a.btn.btn-icon {
    height: 2.375rem;
    min-width: 2.375rem;
    width: 2.375rem;
    padding: 0;
    font-size: 0.9375rem;
    overflow: hidden;
    position: relative;
    line-height: normal; }
    .btn.btn-icon.btn-simple,
    .navbar .navbar-nav > a.btn.btn-icon.btn-simple {
      padding: 0; }
    .btn.btn-icon.btn-sm,
    .navbar .navbar-nav > a.btn.btn-icon.btn-sm {
      height: 1.875rem;
      min-width: 1.875rem;
      width: 1.875rem; }
      .btn.btn-icon.btn-sm i.fa,
      .btn.btn-icon.btn-sm i.now-ui-icons,
      .navbar .navbar-nav > a.btn.btn-icon.btn-sm i.fa,
      .navbar .navbar-nav > a.btn.btn-icon.btn-sm i.now-ui-icons {
        font-size: 0.6875rem; }
    .btn.btn-icon.btn-lg,
    .navbar .navbar-nav > a.btn.btn-icon.btn-lg {
      height: 3.6rem;
      min-width: 3.6rem;
      width: 3.6rem; }
      .btn.btn-icon.btn-lg i.now-ui-icons,
      .btn.btn-icon.btn-lg i.fa,
      .navbar .navbar-nav > a.btn.btn-icon.btn-lg i.now-ui-icons,
      .navbar .navbar-nav > a.btn.btn-icon.btn-lg i.fa {
        font-size: 1.325rem; }
    .btn.btn-icon:not(.btn-footer) i.now-ui-icons,
    .btn.btn-icon:not(.btn-footer) i.fa,
    .navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) i.now-ui-icons,
    .navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) i.fa {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-12px, -12px);
      line-height: 1.5626rem;
      width: 25px; }
  .btn:not(.btn-icon) .now-ui-icons,
  .navbar .navbar-nav > a.btn:not(.btn-icon) .now-ui-icons {
    position: relative;
    top: 1px; }

.btn-primary {
  background-color: #378C3F;
  color: #FFFFFF; }
  
  .btn-primary:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17); }
  .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary:disabled, .btn-primary:disabled:hover, .btn-primary:disabled:focus, .btn-primary:disabled.focus, .btn-primary:disabled:active, .btn-primary:disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active,
  
  .btn-primary.btn-simple {
    color: #378C3F;
    border-color: #378C3F; }
    .btn-primary.btn-simple:hover, .btn-primary.btn-simple:focus, .btn-primary.btn-simple:active {
      background-color: transparent;
      color: #40a249;
      border-color: #40a249;
      box-shadow: none; }
  .btn-primary.btn-link {
    color: #378C3F; }
    .btn-primary.btn-link:hover, .btn-primary.btn-link:focus, .btn-primary.btn-link:active {
      background-color: transparent;
      color: #40a249;
      text-decoration: none;
      box-shadow: none; }

.btn-success {
  background-color: #18ce0f;
  color: #FFFFFF; }
  .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success:active:focus, .btn-success:active:hover, .btn-success.active:focus, .btn-success.active:hover,
  .show > .btn-success.dropdown-toggle,
  .show > .btn-success.dropdown-toggle:focus,
  .show > .btn-success.dropdown-toggle:hover {
    background-color: #1beb11;
    color: #FFFFFF;
    box-shadow: none; }
  .btn-success:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17); }


textarea.form-control {
  max-width: 100%;
  padding: 10px 10px 0 0;
  resize: none;
  border: none;
  border-bottom: 1px solid #E3E3E3;
  border-radius: 0;
  line-height: 2; }
  textarea.form-control:focus, textarea.form-control:active {
    border-left: none;
    border-top: none;
    border-right: none; }



/*barra de progreso*/

  .progress-container {
  position: relative; }
 
  .progress-container {
    color: #888;
    font-size: 0.8571em;
    text-transform: uppercase; }



  .progress-container  {
    height: 20px;
    border-radius: 0;
    margin-top: 14px; 
  }

    


    .progress-container  .progress-value {
      position: absolute;
      top: 2px;
      right: 0;
      font-size: 0.8571em; }
      


button,
input,
optgroup,
select,
textarea {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

small {
  font-size: 60%; }

a {
  color: #378C3F; }
  a:hover, a:focus {
    color: #378C3F; }

h1, .h1 {
  font-size: 3.5em;
  line-height: 1.15;
  margin-bottom: 30px; }
  h1 small, .h1 small {
    font-weight: 700;
    text-transform: uppercase;
    opacity: .8; }

h2, .h2 {
  font-size: 2.5em;
  margin-bottom: 30px; }

h3, .h3 {
  font-size: 2em;
  margin-bottom: 30px;
  line-height: 1.4em; }

h4, .h4 {
  font-size: 1.714em;
  line-height: 1.45em;
  margin-top: 30px;
  margin-bottom: 15px; }
  h4 + .category,
  h4.title + .category, .h4 + .category,
  .h4.title + .category {
    margin-top: -10px; }

h5, .h5 {
  font-size: 1.57em;
  line-height: 1.4em;
  margin-bottom: 15px; }

h6, .h6 {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase; }

p {
  line-height: 1.61em; }
  .description p, p.description {
    font-size: 1.14em; }

.title {
  font-weight: 700; }
  .title.title-up {
    text-transform: uppercase; }
    .title.title-up a {
      color: #2c2c2c;
      text-decoration: none; }
  .title + .category {
    margin-top: -25px; }

.description,
.card-description,
.footer-big p {
  color: #9A9A9A;
  font-weight: 300; }

.category {
  text-transform: uppercase;
  font-weight: 700;
  color: #9A9A9A; }

.text-primary {
  color: #378C3F !important; }

.text-info {
  color: #2CA8FF !important; }

.text-success {
  color: #18ce0f !important; }


.text-black {
  color: #444; }



body {
  color: #2c2c2c;
  font-size: 14px;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.main {
  position: relative;
  background: #FFFFFF; }






.nav-pills .nav-item .nav-link {
  padding: 0 15.5px;
  text-align: center;
  font-weight: 400;
  color: #9A9A9A;
  margin-right: 19px;}

  .nav-pills .nav-item .nav-link:hover {
    background-color: rgba(222, 222, 222, 0.3); }

  .nav-pills .nav-item .nav-link.active, .nav-pills .nav-item .nav-link.active:focus, .nav-pills .nav-item .nav-link.active:hover {
    background-color: #9A9A9A;
    color: #FFFFFF;
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3); }
  
    .nav-pills .nav-item .nav-link.disabled, .nav-pills .nav-item .nav-link:disabled, .nav-pills .nav-item .nav-link[disabled] {
    opacity: .5; }

.nav-pills .nav-item i {
  display: block;
  font-size: 20px;
  line-height: 60px; }

.nav-pills.nav-pills-neutral .nav-item .nav-link {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF; }
  .nav-pills.nav-pills-neutral .nav-item .nav-link.active, .nav-pills.nav-pills-neutral .nav-item .nav-link.active:focus, .nav-pills.nav-pills-neutral .nav-item .nav-link.active:hover {
    background-color: #FFFFFF;
    color: #378C3F; }

.nav-pills.nav-pills-primary .nav-item .nav-link.active, .nav-pills.nav-pills-primary .nav-item .nav-link.active:focus, .nav-pills.nav-pills-primary .nav-item .nav-link.active:hover {
  background-color: #378C3F; }




.nav-align-center {
  text-align: center; }
  .nav-align-center .nav-pills {
    display: inline-flex; }

.btn-twitter {
  color: #55acee; }
  .btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active {
    color: #3ea1ec; }

.btn-facebook {
  color: #3b5998; }
  .btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active {
    color: #344e86; }


.btn-linkedin {
  color: #0077B5; }
  .btn-linkedin:hover, .btn-linkedin:focus, .btn-linkedin:active {
    color: #00669c; }



.navbar {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  min-height: 53px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15); }
  .navbar a {
    vertical-align: middle; }
    .navbar a:not(.btn):not(.dropdown-item) {
      color: #FFFFFF; }
  .navbar p {
    display: inline-block;
    margin: 0;
    line-height: 21px; }
  .navbar .navbar-nav.navbar-logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 49px;
    top: -4px; }
  .navbar .navbar-nav .nav-link.btn {
    padding: 11px 22px; }
    .navbar .navbar-nav .nav-link.btn.btn-lg {
      padding: 15px 48px; }
    .navbar .navbar-nav .nav-link.btn.btn-sm {
      padding: 5px 15px; }
  .navbar .navbar-nav .nav-link:not(.btn) {
    text-transform: uppercase;
    font-size: 0.7142em;
    padding: 0.5rem 0.7rem;
    line-height: 1.625rem; }
    .navbar .navbar-nav .nav-link:not(.btn) i.fa + p,
    .navbar .navbar-nav .nav-link:not(.btn) i.now-ui-icons + p {
      margin-left: 5px; }
    .navbar .navbar-nav .nav-link:not(.btn) i.fa,
    .navbar .navbar-nav .nav-link:not(.btn) i.now-ui-icons {
      font-size: 18px;
      position: relative;
      top: 2px;
      text-align: center;
      width: 21px; }
    .navbar .navbar-nav .nav-link:not(.btn) i.now-ui-icons {
      top: 4px;
      font-size: 16px; }
    .navbar .navbar-nav .nav-link:not(.btn).profile-photo .profile-photo-small {
      width: 27px;
      height: 27px; }
    .navbar .navbar-nav .nav-link:not(.btn).disabled {
      opacity: .5;
      color: #FFFFFF; }

      
  .navbar .logo-container {
    width: 27px;
    height: 27px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid transparent; }
  .navbar .navbar-brand {
    text-transform: uppercase;
    font-size: 0.8571em;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.625rem; }
  .navbar .navbar-toggler {
    width: 37px;
    height: 27px;
    outline: 0;
    cursor: pointer; }
    .navbar .navbar-toggler.navbar-toggler-left {
      position: relative;
      left: 0;
      padding-left: 0; }
    .navbar .navbar-toggler:hover .navbar-toggler-bar.bar2 {
      width: 22px; }
  .navbar .button-dropdown .navbar-toggler-bar:nth-child(2) {
    width: 17px; }
  .navbar.navbar-transparent {
    background-color:#40a24aa6 !important;
    box-shadow: none;
    color: #FFFFFF;
    padding-top: 20px; }
  





img {
  max-width: 100%;
  border-radius: 1px; }

.img-raised {
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3); }











.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: block; }

.carousel .carousel-inner {
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3); }

.carousel .now-ui-icons {
  font-size: 2em; }

.card {
  border: 0;
  border-radius: 0.1875rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2); }
  .card .card-body {
    min-height: 190px; }
  .card[data-background-color="orange"] {
    background-color: #378C3F; }
  .card[data-background-color="green"] {
    background-color: #18ce0f; }

.card-signup {
  max-width: 350px;
  margin: 0 auto; }
  .card-signup .header {
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px 0; }
  .card-signup .text-divider {
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center; }
  .card-signup .card-body {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: auto; }
  .card-signup .checkbox {
    margin-top: 20px; }
    .card-signup .checkbox label {
      margin-left: 17px; }
    .card-signup .checkbox .checkbox-material {
      padding-right: 12px; }
  .card-signup .social-line {
    margin-top: 20px;
    text-align: center; }
    .card-signup .social-line .btn.btn-icon,
    .card-signup .social-line .btn.btn-icon .btn-icon -mini {
      margin-left: 5px;
      margin-right: 5px;
      box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.2); }
  .card-signup .footer {
    margin-bottom: 10px;
    margin-top: 24px; }

.card-plain {
  background: transparent;
  box-shadow: none; }
  .card-plain .header {
    margin-left: 0;
    margin-right: 0; }
  .card-plain .content {
    padding-left: 0;
    padding-right: 0; }

.footer {
  padding: 24px 0; }
 
 

.index-page .page-header {
  height: 125vh; }
  .index-page .page-header .container > .content-center {
    top: 37%; }
  .index-page .page-header .category-absolute {
    position: absolute;
    top: 100vh;
    margin-top: -60px;
    padding: 0 15px;
    width: 100%;
    color: rgba(255, 255, 255, 0.5); }

.profile-page .page-header {
  min-height: 550px; }

.profile-page .profile-container {
  color: #FFFFFF; }

.profile-page .photo-container {
  width: 123px;
  height: 123px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3); }

.profile-page .title {
  text-align: center;
  margin-top: 30px; }

.profile-page .description,
.profile-page .category {
  text-align: center; }

.profile-page h5.description {
  max-width: 700px;
  margin: 20px auto 75px; }

.profile-page .nav-align-center {
  margin-top: 30px; }

.profile-page .content {
  max-width: 450px;
  margin: 0 auto; }
  .profile-page .content .social-description {
    display: inline-block;
    max-width: 150px;
    width: 145px;
    text-align: center;
    margin: 15px 0 0px; }
    .profile-page .content .social-description h2 {
      margin-bottom: 15px; }

.profile-page .button-container {
  text-align: center;
  margin-top: -106px; }




.section {
  padding: 70px 0;
  position: relative;
  background: #FFFFFF; }
  .section .row + .category {
    margin-top: 15px; }

.section-navbars {
  padding-bottom: 0; }

.section-full-screen {
  height: 100vh; }

.section-signup {
  padding-top: 20vh; }

.page-header {
  height: 100vh;
  max-height: 1050px;
  padding: 0;
  color: #FFFFFF;
  position: relative;
  background-position: center center;
  background-size: cover; }
  .page-header .page-header-image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .page-header footer {
    position: absolute;
    bottom: 0;
    width: 100%; }
  .page-header .container {
    height: 100%;
    z-index: 1;
    text-align: center;
    position: relative; }
    .page-header .container > .content-center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      padding: 0 15px;
      color: #FFFFFF;
      width: 100%;
      max-width: 880px; }
  .page-header .category,
  .page-header .description {
    color: rgba(255, 255, 255, 0.5); }
  .page-header.page-header-small {
    height: 60vh;
    max-height: 440px; }
  .page-header:after, .page-header:before {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: ""; }
  .page-header:before {
    background-color: rgba(0, 0, 0, 0.5); }
  



.section-images {
  max-height: 670px;
  height: 670px; }
  .section-images .hero-images-container,
  .section-images .hero-images-container-1,
  .section-images .hero-images-container-2 {
    margin-top: -38vh; }
  .section-images .hero-images-container {
    max-width: 670px; }
  .section-images .hero-images-container-1 {
    max-width: 390px;
    position: absolute;
    top: 55%;
    right: 18%; }
  .section-images .hero-images-container-2 {
    max-width: 225px;
    position: absolute;
    top: 68%;
    right: 12%; }



@media screen and (max-width: 991px) {
  .sidebar-collapse .navbar-collapse {
    position: fixed;
    top: 6.5rem;
    height: 100% !important;
    width: 300px;
    right: 0;
    z-index: 1032;
    visibility: visible;
    background: linear-gradient(#378C3F 0%, #000 80%);
    overflow-y: visible;
    border-top: none;
    text-align: left;
    max-height: none !important;
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1); }
    
    .sidebar-collapse .navbar-collapse .navbar-nav:not(.navbar-logo) .nav-link {
      margin: 0 1rem;
      margin-top: 0.3125rem; }
      .sidebar-collapse .navbar-collapse .navbar-nav:not(.navbar-logo) .nav-link:not(.btn) {
        color: #FFFFFF; }
    .sidebar-collapse .navbar-collapse .dropdown-menu .dropdown-item {
      color: #FFFFFF; }
  .sidebar-collapse .navbar .navbar-nav {
    margin-top: 53px; }
    .sidebar-collapse .navbar .navbar-nav .nav-link {
      padding-top: 0.75rem;
      padding-bottom: .75rem; }
    .sidebar-collapse .navbar .navbar-nav.navbar-logo {
      top: 0;
      height: 53px; }
  .sidebar-collapse .navbar .dropdown.show .dropdown-menu,
  .sidebar-collapse .navbar .dropdown .dropdown-menu {
    background-color: transparent;
    border: 0;
    transition: none;
    box-shadow: none;
    width: auto;
    margin: 0 1rem;
    margin-bottom: 15px;
    padding-top: 0;
    height: 150px;
    overflow-y: scroll; }
    
  .sidebar-collapse .navbar .dropdown .dropdown-item {
    padding-left: 2.5rem; }
  .sidebar-collapse .navbar .dropdown .dropdown-menu {
    display: none; }
  .sidebar-collapse .navbar .dropdown.show .dropdown-menu {
    display: block; }
  .sidebar-collapse .navbar .dropdown-menu .dropdown-item:focus,
  .sidebar-collapse .navbar .dropdown-menu .dropdown-item:hover {
    color: #FFFFFF; }
  .sidebar-collapse .navbar .navbar-translate {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    transform: translate3d(0px, 0, 0);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1); }
  .sidebar-collapse .navbar .navbar-toggler-bar {
    display: block;
    position: relative;
    width: 22px;
    height: 1px;
    border-radius: 1px;
    background: #FFFFFF; }
    .sidebar-collapse .navbar .navbar-toggler-bar + .navbar-toggler-bar {
      margin-top: 7px; }
    .sidebar-collapse .navbar .navbar-toggler-bar.bar2 {
      width: 17px;
      transition: width .2s linear; }
  .sidebar-collapse .navbar.bg-white:not(.navbar-transparent) .navbar-toggler-bar {
    background: #888; }
  .sidebar-collapse .navbar .toggled .navbar-toggler-bar {
    width: 24px; }
    .sidebar-collapse .navbar .toggled .navbar-toggler-bar + .navbar-toggler-bar {
      margin-top: 5px; }

  
  

  

  .profile-photo .profile-photo-small {
    margin-left: -2px; }
  .button-dropdown {
    display: none; }
  .section-nucleo-icons .container .row > [class*="col-"]:first-child {
    text-align: center; }
  .footer .copyright {
    text-align: right; }
  .section-nucleo-icons .icons-container {
    margin-top: 65px; }
  .navbar-nav .nav-link i.fa,
  .navbar-nav .nav-link i.now-ui-icons {
    opacity: .5; }
  .section-images {
    height: 500px;
    max-height: 500px; }
    .section-images .hero-images-container {
      max-width: 500px; }
    .section-images .hero-images-container-1 {
      right: 10%;
      top: 68%;
      max-width: 269px; }
    .section-images .hero-images-container-2 {
      right: 5%;
      max-width: 135px;
      top: 93%; } }



  .burger-menu.menu-on-left .navbar-brand {
    float: right;
    margin-right: 0;
    margin-left: 1rem; }
  .navbar-nav .nav-link.profile-photo {
    padding: 0;
    margin: 7px 0.7rem; }
  .navbar-nav .nav-link.btn:not(.btn-sm) {
    margin: 0; }
  .navbar-nav .nav-item:not(:last-child) {
    margin-right: 5px; }
  .section-nucleo-icons .icons-container {
    margin: 0 0 0 auto; }
  .dropdown-menu .dropdown-item {
    color: inherit; }
  .footer .copyright {
    float: right; } 






@media screen and (max-width: 580px) {
  .alert button.close {
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translateY(-50%); } }

/* Images Gallery Style*/
.gallery .cc-porfolio-image figure {
  position: relative;
  overflow: hidden;
  text-align: center; }

.gallery .cc-porfolio-image figure img {
  position: relative;
  display: block;
  max-width: 100%;
  opacity: 1; }

.gallery .cc-porfolio-image figure figcaption {
  position: absolute;
  color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.gallery .cc-porfolio-image figure figcaption,
.gallery .cc-porfolio-image figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.gallery .cc-porfolio-image figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.gallery .cc-porfolio-image figure .h4,
.gallery .cc-porfolio-image figure p {
  margin: 0; }

.gallery figure.cc-effect figcaption::before,
.gallery figure.cc-effect figcaption::after {
  position: absolute;
  content: '';
  opacity: 0; }

.gallery figure.cc-effect figcaption::before {
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  transform: scale(0, 0);
  transform-origin: 0 0; }

.gallery figure.cc-effect figcaption::after {
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  transform: scale(0, 0);
  transform-origin: 100% 0; }

.gallery figure.cc-effect .h4 {
  margin-top: 25%;
  transition: transform 0.35s;
  opacity: 0; }
  @media (max-width: 480px) {
    .gallery figure.cc-effect .h4 {
      font-size: 14px; } }

.gallery figcaption .container {
  position: absolute;
  width: 100%;
  bottom: 20px; }

.gallery figure.cc-effect p,
.gallery figure.cc-effect button {
  padding: 0.5em 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: transform 0.35s;
  opacity: 0; }

.gallery figure.cc-effect img,
.gallery figure.cc-effect .h4 {
  transform: scale(1.06, 1.06); }

.gallery figure.cc-effect img,
.gallery figure.cc-effect figcaption::before,
.gallery figure.cc-effect figcaption::after,
.gallery figure.cc-effect p {
  transition: opacity 0.35s, transform 0.35s; }

.gallery figure.cc-effect:hover img {
  opacity: 1;
  transform: translate3d(0, 0, 0); }

.gallery figure.cc-effect:hover figcaption::before,
.gallery figure.cc-effect:hover figcaption::after {
  opacity: 1;
  transform: scale(1); }

.gallery figure.cc-effect:hover figcaption:before {
  background: rgba(27, 23, 23, 0.5); }

.gallery figure.cc-effect:hover .h4,
.gallery figure.cc-effect:hover p,
.gallery figure.cc-effect:hover button {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  color: #fff; }

.gallery figure.cc-effect:hover figcaption::after,
.gallery figure.cc-effect:hover .h4,
.gallery figure.cc-effect:hover p,
.gallery figure.cc-effect:hover img {
  transition-delay: 0.15s; }

/* Header */
/* Navbar style*/
.navbar {
  font-size: 18px;
  letter-spacing: 1px; }

/* Body */
/* Profile Page Background Style */
.page-header {
  background: rgba(44, 44, 44, 0.2);
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(55, 140, 63, 0.6));
  /* Standard syntax */ }
  .page-header .btn {
    width: 140px; }



.cc-profile-image a {
  position: relative; }

.cc-profile-image a:before {
  content: "";
  border: 15px solid rgba(55, 140, 63, 0.6);
  border-radius: 50%;
  height: 180px;
  width: 180px;
  position: absolute;
  left: 0;
  
  opacity: 0.0;
  z-index: 99; }

.cc-profile-image img {
  position: relative;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  padding: 0;
  margin: 0;
  border: 15px solid transparent;
  z-index: 9999;
  transition: all .3s ease-out; }

.cc-profile-image a:hover img {
  transform: scale(1.06, 1.06); }



/* Profile Page Social button Style */
.button-container .btn-default {
  margin-right: 8px; }

/* Professional Skills Style */
.progress-container {
  margin-bottom: 20px;
  font-size: 18px; }
  .progress-container .progress-bar {
    height: 5px;
    transform: scaleX(0);
    transition: transform 2s ease-in-out;
    transform-origin: 0% 0%; }
  .progress-container .progress {
    height: 5px;
    font-size: 18px; }
  .progress-container .aos-animate {
    transform: scaleX(1); }

/* Experience Style */
.cc-experience .cc-experience-header {
  padding-top: 60px;
  padding-right: 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase; }

/* Education Style */
.cc-education .h5 {
  margin-bottom: 0; }

.cc-education .cc-education-header {
  padding-top: 60px;
  padding-right: 0;
  text-align: center;
  color: #fff; }

/* References Style */
.cc-reference .card {
  padding: 40px; }

.cc-reference img {
  height: 120px;
  width: auto; }

.cc-reference .h5 {
  margin: 0; }

.cc-reference .carousel-indicators li {
  background: #a5a3a3; }

.cc-reference .carousel-indicators .active {
  background-color: #378C3F; }

.cc-reference .carousel-inner {
  box-shadow: none; }

@media (max-width: 768px) {
  .cc-reference .cc-reference-header {
    text-align: center; }
  .cc-reference .carousel-indicators {
    bottom: 0px; }
  .cc-reference ol {
    margin-bottom: 0; } }*/

/* Contact Information Style */
.cc-contact-information {
  width: 100%;
  position: relative;
  overflow: hidden; }

  .cc-contact-information .cc-contact {
    padding: 8% 0 8% 20%; }
    @media (max-width: 767px) {
      .cc-contact-information .cc-contact {
        padding: 30px 0px 30px 0px; } }

/* Footer */


/* Credit Style */
a.credit {
  color: inherit;
  border-bottom: 1px dashed;
  text-decoration: none;
  cursor: pointer; }

/* Common Style */
.section {
  padding-bottom: 0; }

  
  .bandera{
    height: 4vh;
}